*{
    margin: 0;
    padding: 0;

}
 
body{
    background-image: url("fondo.jpg");
    border-color: rgb(70, 190, 206);
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;


}

h1{

    text-align: center;
    padding: 20px;

}
img{
    width: 250px;
    height: auto;
    border-radius: 30px;
    box-shadow: 0 0 20px rgb(14, 13, 13);
    position: relative;
    top: 0px;
    margin-left: auto;
    margin-right:auto;
    padding: 3px;
    display: block;

}
.datos,h2{
    background-color: rgb(70, 190, 206);;
    padding: 2Opx;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
table{
    border-collapse: collapse ;
    box-shadow: 0 0 15px rgb(70, 190, 206);;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    
    

}
th{
    background-color: rgb(70, 190, 206);;
    text-align: center;
    
    
}
td{
    border: 1px solid #333;
   
    text-align: center;
    
    
    
}
.informacion,ul,li,strong  {
    color: rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
   text-align: center;
    position: relative;
    list-style: none;
    
}
strong{
       text-align: left;


}
h3{
   text-align: center;

}
.laboratio,p{
     text-align: center;

}
p{
    text-align: center;
}
